* {
	text-align: center;
}
body {
	background-image: url("background.png");
}

.container {
	width: 500px;
	height: 600px;
	padding: auto;
	margin: auto;
	background-color: white;
}

.heading {
	text-align: center;
	padding: 20px 10px 20px 10px;
	font-size: larger;
}

input {
	padding: 5px;
}
select {
	padding: 5px;
}
textarea {
	padding: 5px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 1rem;
}

.form-top {
	display: grid;
	grid-template-columns: min-content min-content;
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;
}

.form-bottom {
	display: grid;
	grid-template-columns: auto auto;
}

.form-mid {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 1rem;
	margin: auto auto auto 70px;
}

#submit-btn {
	background-color: orange;
	padding: 15px;
	width: 71.5%;
}
