.container {
	width: 500px;
	height: 600px;
	padding: auto;
	margin: auto;
	border: 1px solid black;
}

.heading {
	text-align: center;
	padding: 10px 10px 10px 10px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 1rem;
}

form > input {
	width: 71.5%;
}

.form {
	display: grid;
	grid-template-columns: min-content min-content;
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;
}
